.searchDetail {
  width: 100%;
  padding: 12px 13% 100px;
  background-color: #000;

  .creditInfo {
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .search-actors {
      color: #fff;

      h3 {
        color: #fff;
        padding: 12px 0;
        font-size: 26px;
        font-weight: 500;
        text-align: left;
      }

      .actor-list {
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        gap: 10px;
        padding: 10px 0;
        max-width: 100%;
        scrollbar-width: thin;
        -ms-overflow-style: none;
      }

      .actor-list::-webkit-scrollbar {
        height: 2px;
      }

      .actor-list::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 4px;
      }

      .actor-list::-webkit-scrollbar-track {
        background-color: rgba(0, 0, 0, 0.3);
      }

      .actor-item {
        flex: 0 0 auto;
        width: 150px;
        text-align: center;

        .search-img {
          img {
            width: 100%;
            border-radius: 8px;
            object-fit: cover;
          }
        }

        .search-info {
          margin-top: 8px;
          text-align: center;

          .actor-name {
            font-size: 12px;
            font-weight: bold;
            color: #fff;
          }

          .actor-character {
            font-size: 12px;
            color: #aaa;
          }
        }
      }
    }
  }
}