@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

html {
	background-color: #000;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Noto Sans KR";
}

a {
	text-decoration: none;
	color: hsl(0, 0%, 13%)
}

ul,
ol {
	list-style: none;
}

.mt30 {
	margin-top: 30px;
}

h2 {
	text-align: center;
	color: #666;
	font-size: 24px;
}

.loding {
	width: 100%;
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.star-rating {
	color: #ff547e;
}

.App {
	>.navbar {
		width: 100%;
		padding: 10px 30px;
		backdrop-filter: "saturate(180%) blur(20px)";
		background-color: #fffa;
		position: fixed;
		top: 0;
		z-index: 999;
		display: flex;
		align-items: center;
		justify-content: space-between;


		.logo {
			a {
				font-size: 30px;
				color: rgba(0, 0, 0, .7);
			}
		}

		.search {
			width: 40px;
			height: 40px;
			display: flex;
			align-items: center;
			border: 1px solid #999;
			border-radius: 8px;
			overflow: hidden;
			transition: width 0.3s ease;
			/* 너비 변경 애니메이션 */

			input {
				height: 38px;
				padding: 0;
				width: 0;
				opacity: 0;
				border: 0;
				visibility: hidden;
				font-size: 13px;
				transition: width 0.3s ease, opacity 0.3s ease;
				background-color: transparent;
			}

			&.active {
				width: 250px;
				border-color: #222;
				/* 활성화 시 너비 */

				input {
					padding: 0 4px 2px 16px;
					opacity: 1;
					visibility: visible;
					flex: 1;
				}
			}

			.search-btn {
				width: 40px;
				height: 40px;
				background: url('../public/images/header_menu1.png') no-repeat center center;
				background-size: 45%;
				border: none;
				cursor: pointer;
			}
		}

	}

	.home {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;

		.upComing {
			position: relative;

			.upMovie {
				display: flex;
				flex-direction: row-reverse;

				.upComingImg {
					width: 60%;
					overflow: hidden;

					img {
						display: block;
						object-fit: cover;
					}
				}

				.upComingInfo {
					position: absolute;
					height: 100%;
					width: 100%;
					background: rgb(0, 0, 0);
					background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0.9010197829131653) 49%, rgba(0, 0, 0, 0.31838672969187676) 57%, rgba(0, 0, 0, 0.5312718837535014) 77%, rgba(0, 0, 0, 1) 90%);
				}

				.upInfoText {
					width: 40%;
					position: absolute;
					left: 13%;
					bottom: 18%;
					color: #fff;
					z-index: 7;
					display: flex;
					flex-direction: column;
					gap: 8px;

					.top {
						.original_title {
							font-size: 48px;
							margin-bottom: 10px;
							font-weight: 600;
						}

						.title {
							font-size: 16px;
							color: #999;
						}
					}

					.trailer {
						display: flex;
						align-items: center;
						gap: 8px;
						height: 10%;

						a {
							padding: 5px 5px;
							display: inline-block;
							font-size: 16px;
							color: #fff;
						}

						&:hover {
							color: #ff547e;

							a {
								color: #ff547e;
							}
						}
					}

					.overview {
						font-size: 16px;
						color: #eee;
					}

					.bottom {
						display: flex;
						gap: 8px;
						font-size: 16px;

						.star-rating {
							color: #ff547e;
						}

						.vote {}

						.date {
							margin-left: 8px;
						}
					}
				}
			}
		}
	}
}

.mainContainer {
	width: 100%;
	background-color: #111;
	padding: 20px 13%;

	.tit_more {
		display: flex;
		align-items: center;
		justify-content: space-between;

		h2 {
			color: #fff;
			padding: 12px 0;
			text-align: left;
		}

		.more {
			padding: 20px 0;
			text-align: center;

			.theMore {
				padding: 10px 20px;
				border: none;
				color: #fff;
				background-color: transparent;

				&:hover {
					color: #ff547e;
				}
			}
		}

	}

	.mainMovie {
		overflow-y: auto;
		height: auto;

		.movie {
			display: flex;
			width: max-content;
			gap: .8rem;
			margin: 20px 0 32px;

			.aMovie {

				.aMovie-card {

					.aMovieimgBox {
						padding-bottom: .5rem;
						flex: 1 1 0%;

						img {
							width: 15rem;
							height: 350px;
						}
					}

					.aMovieInfo {
						color: #fff;

						.aMovieTitle {
							text-align: left;
							color: #fff;
							font-size: 14px;
							line-height: 1.25rem;
						}

						.aMovieflex {
							display: flex;
							align-items: center;
							gap: 10px;
						}

						p {
							margin-top: 3px;
							font-size: 13px;
						}

					}
				}
			}
		}


	}
}

.movi_movie {
	width: 100%;
	background-color: #000;

	.movieBox {
		text-align: center;
		width: 100%;

		img {
			@media screen and (min-width: 1200px) {
				width: 70%;
			}

			@media screen and (max-width: 1199px) {
				width: 80%;
			}

			@media screen and (max-width: 900px) {
				width: 80%;
			}

			@media screen and (max-width: 720px) {
				width: 100%;
				padding: 0 20px;
			}
		}
	}

	.textBox {
		padding: 30px 0 0;

		@media screen and (min-width: 1200px) {
			width: 70%;
			margin: 0 auto;
		}

		@media screen and (max-width:1199px) {
			width: 80%;
			margin: 0 auto;
		}

		@media screen and (max-width: 900px) {
			width: 80%;
			margin: 0 auto;
		}

		@media screen and (max-width: 720px) {
			width: 100%;
			padding: 0 20px;
			background: bule;
			margin: 0 auto;
		}

		.textBoxTitle {
			font-size: 24px;
			font-weight: 600;
			color: #ff547e;
		}

		.textBoxOriginalTitle {
			font-size: 18px;
			color: #fffa;
			padding: 10px 0;
		}

		.textBoxOverview {
			margin-top: 20px;
			font-size: 14px;
			color: #fff;
		}

		.textBoxGenres {
			margin-top: 10px;
			display: flex;
			color: #ff547e;

			span {
				display: block;
				padding-right: 20px;
				font-size: 14px;
				position: relative;

				&:not(:last-child):after {
					position: absolute;
					content: "";
					top: 5px;
					right: 10px;
					width: 1px;
					height: 10px;
					background: #fff;
				}
			}
		}

		.textBoxDate {
			margin-top: 12px;
			position: relative;
			font-size: 13px;
			color: #fff;

			&::before {
				content: "개봉일 :       ";
				color: #fff;

			}

		}

		.textBoxAverage {
			display: flex;
			margin-top: 10px;
			color: #fff;

			span {
				color: #ff547e;
			}

			p {
				margin-left: 5px;
			}
		}
	}
}

.movies {
	padding: 50px;

	h1 {
		text-align: center;
		font-size: 24px;
		margin-bottom: 20px;
		color: #666
	}

	.moviesMovie {
		display: flex;
		border: 1px solid #ddd;
		padding: 5px;
		margin-bottom: 10px;
		justify-content: space-between;
		align-items: center;

		.movie-title {
			font-size: 14px;
		}

		.movie-year {
			font-size: 12px;
			color: #f00;
		}

		.removeBtn {
			button {
				background: #b51212;
				color: #fff;
				border: none;
				padding: 5px 20px;
			}
		}
	}

	form {
		width: 100%;

		input {
			width: 100%;
			margin-bottom: 10px;
			padding: 10px;
		}

		.error {
			font-size: 12px;
			color: #f00;
		}

		button {
			width: 100%;
			padding: 5px 20px;
			background: #666;
			color: #fff;
			border: none;
			border-radius: 3px;
			margin-bottom: 30px;
		}
	}
}

.coming {
	padding: 20px 13%;
	background-color: #000;

	h2 {
		color: #fff;
		padding: 12px 0;
		text-align: left;
	}

	.swiper-navigation {
		max-width: 1280px;
		width: 100%;
		margin: 30px auto 100px;
		position: relative;

		.comingWrap {
			width: 100%;

			.nextMovieWrap {
				a {
					.nextMovieBox {
						width: 100%;
						height: auto;

						.nextMovieImg {
							height: 350px;
							overflow: hidden;

							img {
								width: 100%;
								height: 100%;
								object-fit: cover;
							}
						}

						.nextMovieText {
							p {
								color: #fff;
							}

							p.date {
								margin-top: 3px;
								font-size: 13px;
							}
						}
					}
				}
			}
		}

		.swipernext {
			position: absolute;
			right: -50px;
			top: 40%;

			@media screen and (max-width: 1340px) {
				right: 10px;
				z-index: 30;
				color: #fff;
				text-shadow: 2px 2px 5px #000;
			}
		}

		.swiperprev {
			position: absolute;
			left: -50px;
			top: 40%;

			@media screen and (max-width: 1340px) {
				left: 10px;
				z-index: 30;
				color: #fff;
				text-shadow: 2px 2px 5px #000;
			}
		}
	}
}

.footer {
	width: 100%;
	background: #111;
	padding: 16px;
	display: flex;
	justify-content: center;
	position: fixed;
	bottom: 0;
	z-index: 9;

	.footerInner {
		ul {
			display: flex;

			li {
				a {
					font-size: 25px;
					padding: 20px 10px;
					margin: 0 40px;
					color: #fff;
				}
			}
		}
	}
}

.quickBtn {
	position: fixed;
	right: 20px;
	bottom: 14%;
	z-index: 100;

	.quick-top {
		width: 56px;
		height: 56px;
		border-radius: 50%;
		background: #022426;
		cursor: pointer;

		.upArrowBtn {
			color: #fff;
			font-size: 35px;
		}
	}
}